.cardsContainer {
    background-color: #f8f8f8;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
}

.card {
    background-color: #fff;
    border-radius: 0 0 6px 6px;
    margin: 0.5rem;
}

.itemImage {
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.itemLocation {
    font-size: 0.9rem;
    color: rgb(129, 129, 129);
}

.itemTitle,
.itemLocation {
    padding: 0.2rem 0.5rem;
}